:root {
  --primary-primary: #e19517;
  --primary-stock: rgba(225, 149, 23, 0.3);
  --background-background: #240c03;
  --background-p2: #452012;
  --black-and-white-wgite: #fff;
  --black-and-white-black: #000;
  --neutral-n1: #f9fafb;
  --neutral-n2: #f3f4f6;
  --neutral-n3: #e5e7eb;
  --neutral-n4: #d1d5db;
  --neutral-n5: #9ca3af;
  --neutral-n6: #6b7280;
  --neutral-n7: #4b5563;
  --neutral-n8: #374151;
  --neutral-n9: #1f2937;
  --neutral-n10: #111827;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Kaushan Script", cursive;
  --font3: "Inter", sans-serif;
  --font4: "Mona Sans", sans-serif;
}

.header {
  padding: 12px 0 180px 0;
  background-image: url(./photos/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #452012;
  opacity: 0.5;
  z-index: 1;
}

.header__nav-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  margin-bottom: 92px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--black-and-white-wgite);
  transition: all 0.3s ease;
}

.header__nav-link:hover {
  color: var(--primary-primary);
}

.header__main {
  position: relative;
  z-index: 3;
}

.header__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: var(--black-and-white-wgite);
  margin-bottom: 24px;
}

.header__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--neutral-n1);
  margin-bottom: 56px;
}

.header__btn {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: var(--black-and-white-wgite);
  background-color: var(--primary-primary);
  padding: 16px 24px;
  border-radius: 8px;
  border: none;
  transition: all 0.3s ease;
}

.header__btn:hover {
  cursor: pointer;
  transform: scale(105%);
}

.about{
	padding: 130px 0;
	background-image: url(./photos/about-deco.png);
	background-repeat: no-repeat;
	background-size: 50%;
}

.about__title {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: var(--background-background);
  margin-bottom: 32px;
}

.about__title-deco{
	font-size: 72px;
}

.about__text{
	text-align: center;
	font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 140%;
color: var(--neutral-n8);
width: 90%;
margin: 0 auto;
margin-bottom: 40px;
}

.about__img-wrap{
	display: flex;
	align-items: center;
	gap: 24px;
	justify-content: center;
	flex-direction: column;
}

.about__img{
	width: 90%;
}

.menu{
  padding: 140px 0;
}

.menu__title{
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 40px;
  line-height: 150%;
  color: var(--background-background);
  margin-bottom: 24px;
}

.menu__title-deco{
  font-size: 72px;  
}

.menu__text{
	font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 140%;
color: var(--neutral-n8);
width: 90%;
margin-bottom: 40px;
}

@media (min-width: 756px) {
  .header__nav-container {
    flex-direction: row;
    gap: 0px;
  }

  .header__nav-list {
    gap: 32px;
  }

  .header__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 128px;
    line-height: 120%;
    color: var(--black-and-white-wgite);
    margin-bottom: 24px;
  }

.about{
	background-size: 35%;
}

.about__title {
  font-size: 64px;
}

.about__title-deco{
	font-size: 96px;
}

  .about__text{
width: 600px;
}

.about__img-wrap{
	flex-direction: row;
}

.about__img{
	width: 200px;
}

.about__img:nth-child(2){
	width: 250px;
}

.menu__title{
  font-style: 64px;
}

.menu__title-deco{
  font-size: 96px;  
}

.menu__text{
width: 600px;
}
  
}

@media (min-width: 1024px) {
	.about{
	background-size: 25%;
}

.about__img{
	width: 30%;
}

.about__img:nth-child(2){
	width: 38%;
}
}
